extends layout

block content

  #top
    #slides
      .slide.slide1(data-city="Chicago")
      .slide.slide2(data-city="Brooklyn")
      .slide.slide3(data-city="Oakland")
      .slide.slide4(data-city="Boston")
      .slide.slide5(data-city="Los Angeles")
    //#editor-type-images
    //  .type-red
    //  .type-img.img1
    //  .type-img.img2
    //  .type-img.img3
    //  .type-img.img4
    //  .type-img.img5

    .editor

      .canvas-outer
        canvas#canvas(width="846", height="846")
        img.hidden#img-logo-frame(src="/img/editor/logo-frame-2x.png")
        img.hidden#img-pattern-grime(src="/img/editor/pattern-grime.jpg")
        img.hidden#img-beats-watermark(src="/img/editor/beats-watermark-2x.png")

      .editor-controls
        .editor-image-controls
          //- input.editor-range-control(type="range", value=0.5, min=0, max=1, step=0.01)
          .editor-range-control
            .range
          form.editor-invert-control
            input#editor-invert-control-white(type="radio", name="invert", value="0", checked)
            label(for="editor-invert-control-white") White
            input#editor-invert-control-black(type="radio", name="invert", value="1")
            label(for="editor-invert-control-black") Black
          .editor-types
            input#control-photo(type="radio", name="group", value="photo")
            label(for="control-photo") Image

            input#control-logo(type="radio", name="group", value="logo")
            label(for="control-logo") Logo

            input#control-invert(type="radio", name="group", value="invert")
            label(for="control-invert") Logo Color

            input#control-contrast(type="radio", name="group", value="contrast")
            label(for="control-contrast") Contrast

        form.editor-actions
          .button.download
            img(src="/img/btn-download.png")
          .button.share(data-featherlight="#share-popup")
            img(src="/img/btn-share.png")
          input#action-upload(type="file", accept="image/*")
          .button.upload
            img(src="/img/btn-addphoto.png")

      #share-popup.share-popup.popup
        a.close
        a.button.twitter(href="#", target="share", data-text="Straight Outta {CITY}", data-hashtags="soc,beats", data-popwidth="550", data-popheight="420")
          img(src="/img/btn-twitter.png", height="45")
        a.button.facebook(href="#", target="share", data-popwidth="555", data-popheight="355")
          img(src="/img/btn-facebook.png", height="45")

  img#beats-logo(src="/img/beats-logo.png")
  a#sound-toggle.on(href="#") Sound On

  a#down.hidden
    img(src="/img/arrow-down.png")


  #bottom.hidden
    ul.cf
      each post in posts
        li
          if post.type == "video"
            a.video-link(href="#", data-video="#{post.videoId}")
              img.bg-img(src="#{post.photo}")
              .over
                .over-inner
                  .over-cell.video
                    img.play(src="/img/play.png")
                    h3 #{post.title}
          else
            img.bg-img(src="#{post.photo}")
            if post.text != null
              .over
                .over-inner
                  .over-cell
                    h3 #{post.title}
                    p #{post.text}

