extends layout

block content
  
  - var url = ""

  #top
    #theaters
      a(href="http://straightouttacompton.com", target="_blank") Straight Outta Compton in Theaters Now

    a#down
      img(src="/img/arrow-down.png") 
      
      
    #slides
      .slide.slide1(data-city="College Park")
      .slide.slide2(data-city="New York")
      .slide.slide3(data-city="Los Angeles")
      .slide.slide4(data-city="Chicago")

    .editor

      .canvas-outer
        canvas#canvas(width="846", height="846")
        img.hidden#img-logo-frame(src="/img/editor/logo-frame-2x.png")
        img.hidden#img-pattern-grime(src="/img/editor/pattern-grime.jpg")
        img.hidden#img-beats-watermark(src="/img/editor/beats-watermark-2x.png")
        img.hidden#img-bg(src="/img/bg-black-new.jpg")
        div.font-preloader
          span(style="font-family:'knockout'") FORCE FONT LOAD

      .editor-controls
        .editor-image-controls
          .editor-range-control
            .range
          form.editor-invert-control
            input#editor-invert-control-white(type="radio", name="invert", value="0", checked)
            label(for="editor-invert-control-white") White

            input#editor-invert-control-black(type="radio", name="invert", value="1")
            label(for="editor-invert-control-black") Black

          form.editor-types
            input#control-photo(type="radio", name="group", value="photo")
            label(for="control-photo") Image

            input#control-contrast(type="radio", name="group", value="contrast")
            label(for="control-contrast") Contrast

            input#control-invert(type="radio", name="group", value="invert")
            label(for="control-invert") Logo Color

        form.editor-actions
          input#action-upload(type="file", accept="image/*")
          .button.upload
            img(src="/img/btn-addphoto-big.png")
              
          a.donthave(href="#") I Don't Have A Photo
          
          .button.share
            img(src="#{url}/img/btn-share.png")
          .button.download
            img(src="#{url}/img/btn-download.png")
          .button.restart(href="/?skip=1")
            img(src="#{url}/img/btn-restart2.png")

      #share-popup-src.share-popup
        a.close
        a.button.twitter(href="#", target="share", data-text="I'm #StraightOutta {CITY}. Where you from? #BeatsByDre", data-popwidth="550", data-popheight="420")
          img(src="#{url}/img/btn-twitter.png", height="45")
        a.button.facebook(href="#", target="share", data-popwidth="555", data-popheight="355")
          img(src="#{url}/img/btn-facebook.png", height="45")

  #bottom
    ul.cf
      each post in posts
        li
          if post.type == "video"
            a.video-link(href="#", data-video="#{post.videoId}")
              img.bg-img(src="#{post.photo}")
              .over
                .over-inner
                  .over-cell.video
                    img.play(src="/img/play.png")
                    h3!= post.title
          else
            img.bg-img(src="#{post.photo}")
            if post.title 
              .over
                .over-inner
                  .over-cell
                    h3!= post.title
                    p!= post.text

  #legal
    a(href="http://www.beatsbydre.com/support/privacy-policy.html", target="_blank") Privacy
    a(href="http://www.beatsbydre.com/support/terms-of-use.html", target="_blank") Terms

  a#beats-logo(href="http://beatsbydre.com")
    img(src="#{url}/img/beats-logo.png")

  #loader
    img(src="#{url}/img/loader.gif")
      
  //
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: Straight Outta Compton Microsite
    URL of the webpage where the tag is expected to be placed: http://www.straightouttasomewhere.com/
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 08/11/2015
  script#DoubleClickFloodlightTag2647454(type='text/javascript').
    //<![CDATA[
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    var newIFrame=document.createElement('iframe');
    newIFrame.src='https://4510511.fls.doubleclick.net/activityi;src=4510511;type=socmi0;cat=strai0;ord=' + a + '?';
    newIFrame.width="1";
    newIFrame.style.display = "none";
    newIFrame.frameBorder="0";
    newIFrame.height="1";
    var scriptNode=document.getElementById('DoubleClickFloodlightTag2647454');
    scriptNode.parentNode.insertBefore(newIFrame,scriptNode);
    //]]>
  noscript
    iframe(src='https://4510511.fls.doubleclick.net/activityi;src=4510511;type=socmi0;cat=strai0;ord=1?', width='1', height='1', frameborder='0', style='display:none')
  // End of DoubleClick Floodlight Tag: Please do not remove
      
