extends layout

block content
  img#beats-logo(src="/img/beats-logo.png")
  #top
    #city-holder
      #city
        img#logo(src="/img/straight-logo.png")
        input(type="text")
          
      #lower
        img#beats-logo-white(src="/img/beats-logo-white.png")
          
        #buttons
          a#btn-download(href="#")
            img(src="/img/btn-download_cn.png", height="45")
          a#btn-share(href="#")
            img(src="/img/btn-share_cn.png", height="45")
          a#btn-addphoto(href="#")
            img(src="/img/btn-addphoto_cn.png", height="45")
        #buttons-hide
          img(src="/img/btn-download-over_cn.png", height="45")
          img(src="/img/btn-share-over_cn.png", height="45")
          img(src="/img/btn-addphoto-over_cn.png", height="45")
          
              
    #intro-video
      #slides
        .slide.slide1(data-city="Chicago")
        .slide.slide2(data-city="Brooklyn")
        .slide.slide3(data-city="Oakland")
          
          
    
           
    #editor
      a#down
        img(src="/img/arrow-down.png")
      
      #editor-type-images
        .type-red
        .type-img.img1
        .type-img.img2
        .type-img.img3
        .type-img.img4
        .type-img.img5
  
  #bottom
    ul.cf
      each post in posts
        li
          if post.type == "video"
            a.video-link(href="#", data-video="#{post.videoId}")
              img.bg-img(src="#{post.photo}")
              .over
                .over-inner
                  .over-cell.video
                    img.play(src="/img/play.png")
                    h3 #{post.title}
          else
            img.bg-img(src="#{post.photo}")
            .over
              .over-inner
                .over-cell
                  h3 #{post.title}
                  p #{post.text}
            
  .shareWindow
    a(href="#") twitter
    a(href="#") facebook  

  script(src="/js/bower_components/jquery/dist/jquery.min.js")
  script(src="/js/bower_components/slick-carousel/slick/slick.min.js")
  //script(src="/js/bower_components/featherlight/release/featherlight.min.js")
  //script(src="/js/jquery.inputfit.js")
  script(src='/js/app.js')
