doctype html
html
  head
    != LRScript
    title Straight Outta #{location}

    meta(property="og:image", content="#{url}")  
    meta(property="og:image[0][url]", content="#{baseUrl}/share/#{id}/wide")
    meta(property="og:image[0][user_generated]", content="true")
    meta(property="og:image:width", content="1900")
    meta(property="og:image:height", content="846")
    meta(property="og:title", content="Straight Outta #{location}")
    meta(property="og:url", content="#{baseUrl}/share/#{id}")
    meta(property="og:description", content="I'm #StraightOutta #{location}. Where you from?")
    meta(property="og:site_name", content="Straight Outta Somewhere")
      
    meta(name="twitter:card", content="photo")
    meta(name="twitter:site" content="@straightouttacompton")
    meta(name="twitter:creator" content="@straightouttacompton")
      

  block content
    img(src="#{url}")
    
  
