doctype html
html
  head
    != LRScript
    title Straight Outta #{location}

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1", user-scalable="no")
    
    <!--meta(property="og:image", content="#{baseUrl}/s/#{id}/wide")-->
    meta(property="og:image", content="#{url}")
    meta(property="og:image:width", content="1900")
    meta(property="og:image:height", content="846")
    meta(property="og:title", content="Straight Outta #{location}")
    meta(property="og:url", content="#{baseUrl}/s/#{id}")
    meta(property="og:description", content="I'm #StraightOutta #{location}. Where you from?")
    meta(property="description", content="I'm #StraightOutta #{location}. Where you from?")
      
    meta(property="og:site_name", content="Straight Outta Somewhere")
      
    meta(name="twitter:card", content="photo")
    meta(name="twitter:site" content="@straightouttacompton")
    meta(name="twitter:title" content="Straight Outta Somewhere")
    meta(name="twitter:image" content="#{url}")
    meta(name="twitter:image:width" content="846")
    meta(name="twitter:image:height" content="846")

    link(rel='stylesheet', href='/assets/share.css')
      

  body
    a#beats-logo(href="/")
      img(src="/img/beats-logo.png")
    #share-body
      #share-inner
        img(src="#{url}")
          
          
    script.
      if (location.href.indexOf("#stay") != -1) {
        //stay
      } else {
        location.href = '/';
      }
      
    
  
