doctype html
html
  head
    != LRScript
    title Straight Outta #{location}

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1", user-scalable="no")
    meta(name="description", content="I'm #StraightOutta #{location}. Where you from? #BeatsByDre")
      
    meta(property="og:image", content="#{baseUrl}/s/#{id}/wide")    
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:type", content="article")
    meta(property="og:title", content="Straight Outta #{location}")
    meta(property="og:url", content="#{baseUrl}/s/#{id}")
    meta(property="og:description", content="I'm #StraightOutta #{location}. Where you from? #BeatsByDre")
      
    meta(property="og:site_name", content="Straight Outta Somewhere")
      
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@beatsbydre")
    meta(name="twitter:title", content="Straight Outta Somewhere")
    meta(name="twitter:image", content="#{baseUrl}/s/#{id}/wide")
    meta(name="twitter:description" content="We're all straight outta somewhere. Where you from? #BeatsByDre")
    meta(name="twitter:image:width", content="1200")
    meta(name="twitter:image:height", content="630")

    link(rel='stylesheet', href='/assets/share.css')
      

  body

    a#beats-logo(href="/")
      img(src="/img/beats-logo.png")
    #share-body
      #share-inner
        img(src="#{url}")
          
    script(language='JavaScript1.1' src='//pixel.mathtag.com/event/js?mt_id=807813&mt_adid=128442&v1=&v2=&v3=&s1=&s2=&s3=')    
    script.
      if (location.href.indexOf("#stay") != -1) {
        //stay
      } else {
        location.href = '/';
      }
      
    
  
